# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints

# Data (örnek: ham veriler repoya eklenmesin)
data/*.csv
data/*.parquet
data/raw/
data/full_dataset.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
